header {
  position: fixed; 
  top: 0;                /* stick to top */
  left: 0;
  right: 0;
  z-index: 9999;
  background: #d32f2f;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header h2 {
  font-size: 22px;
}

.nav-links {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-top: 4px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.logout-btn {
  background: white;
  color: rgb(55, 55, 55);
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.logo-section {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  width: 160px;
  /* object-fit: contain; */
}


@media (max-width: 768px) {
  .nav-links {
    display: none;
    width: 100%;
    flex-direction: column;
    margin-top: 10px;
  }

  .nav-links.active {
    display: flex;
    padding: 12px 12px 12px 8px;
  }

  .menu-toggle {
    display: block;
  }
  header {
    padding: 6px 12px;
  }
}
